# User configuration
src/config.json

# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# IDE
.vscode/
.idea/

# Distribution / packages
dist/
build/
libs/
*.egg-info/
